.phpunit.result.cache
composer.lock
symfony.lock
yarn.lock
/bin/
/vendor/
.php_cs.cache
/templates
node_modules

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
