language: php

php:
    - 7.2
    - 7.3
    - 7.4

before_install:
    - if [[ $TRAVIS_PHP_VERSION = hhvm* ]]; then export INI=/etc/hhvm/php.ini; else export INI=~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini; fi
    - echo memory_limit = -1 >> $INI
    - composer global require hirak/prestissimo

install:
    - make install
    - make php-cs-fixer.install

script:
    - make phpunit.run
    - make phpstan.run
    - make php-cs-fixer.ci

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

#env:
#    - SYMFONY_VERSION=3.4.*
#    - SYMFONY_VERSION=4.1.*
#    - SYMFONY_VERSION=4.2.*
#    - SYMFONY_VERSION=4.3.*
