{# Every modules should use this modal as it should be only one modal at same time #}
<div id="cms-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {# Ajax loaded content #}
        </div>
    </div>
</div>
